<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Sensor Dashboard</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css') }}"
        />
</head>
<body>
    
    <div class="main-container">
        <h1>Live Sensor Readings</h1>

        <div id="sensor-data-container">
        
        </div>
    </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</body>
</html>